---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for collection in site.collections %}
      {% capture label %}{{ collection | first }}{% endcapture %}
      <h2 id="{{ collection[0] | split: '00-' | last  }}">{{ collection[0] | split: '00-' | last | capitalize  }}</a></h2>
      {% for pattern in site.collections.[label].docs %}
      <li id="p-{{ pattern.title | replace:' ','-' | downcase }}">
        <h3>{{ pattern.title }}</h3>
        <p>{{ pattern.description }}</p>

        <h4>Example</h4>
        {{ pattern.output }}

        <h4>Code</h4>
        {% highlight html %}
          {{ pattern.output }}
        {% endhighlight %}
      </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
