---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for collection in site.collections %}

      {% capture label %}{{ collection | first }}{% endcapture %}

      <h2 id="{{ collection[0] }}">{{ collection[0] | split: '00-' | last | upcase  }}</a></h2>

      {% for pattern in site.collections.[label].docs %}

      <li id="p-{{ pattern.title | replace:' ','-' | downcase }}" class="group">

        <h3 class="code-title">{{ pattern.title }} <span class="view-code">View code <i class="fa fa-arrow-circle-right"></i></span></h3>

        <div class="the-code">
          {% highlight html %}
            {{ pattern.output }}
          {% endhighlight %}
        </div>
        <p>{{ pattern.description }}</p>

        {{ pattern.output }}

      </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
