---
layout: template
title: Homepage
permalink: /templates/homepage/
---
<div class="page" id="page">
	{{ site.00-organisms | where:"title" : "Header" }}
	<div role="main">
		{{# emergency }}
			{{ site.00-molecules | where:"title" : "Alert" }}
		{{/ emergency }}
		{{# hero }}
			{{ site.00-molecules | where:"title" : "Block Hero" }}
		{{/ hero}}

		<div class="g g-3up">
			{{# touts}}
				<div class="gi">
					{{ site.00-molecules | where:"title" : "Block Headline inset" }}
				</div>
			{{/ touts}}
		</div><!--end 3up-->

		<hr />

		<div class="l-two-col">
			<div class="l-main">
				<section class="section latest-posts">
					<h2 class="section-title">Latest Posts</h2>
					<ul class="post-list">
						{{# latest-posts }}
							<li>{{ site.00-molecules | where:"title" : "Media Block" }}</li>
						{{/ latest-posts }}
					</ul>
					<a href="#" class="text-btn">View more posts</a>
				</section>
			</div><!--end .l-main-->

			<div class="l-sidebar">
				{{ site.00-organisms | where:"title" : "Recent Tweets" }}
			</div><!--end .l-sidebar-->
		</div><!--end .l-two-col-->
	</div><!--End role=main-->
	{{ site.00-organisms | where:"title" : "Footer" }}
</div>
